md-radio-button, md-checkbox {
  margin: 5px;
}

#tooltip {
  background-color: white;
  pointer-events: none;
  font-size: 12px;
  position: fixed;
  border-radius: 6px;
  opacity: 0;
  top:20px;
  right: 25%;
}

path.chord {
  opacity: 0.9;
}

text, .group path {
  cursor: pointer;
}