body {
/*  background-color: #888;
  color: white;*/
}

path {
  stroke-width: 1.5px;
}

md-radio-button {
  margin: 5px;
}

.tooltip {
  position: absolute;
  top:0px;
  right: 0px;
  width: 300px;
  height: 100px;
}