body {
/*  background-color: #888;
  color: white;*/
}

path {
  stroke-width: 1.5px;
}

svg {
  z-index: -200;
}

md-radio-button {
  margin: 5px;
}

.tooltip {
  background-color: white;
  pointer-events: none;
  font-size: 12px;
  position: fixed;
  border-radius: 6px;
  opacity: 0;
  top:20px;
  right: 20px;
  width: 400px;
}